<button class="btn btn-info">Add</button>

<table class="table">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Data applicazione</th>
            <th>Nome e cognome</th>
            <th>Sesso</th>
            <th>Eta'</th>
            <th>Numero di telefono</th>
            <th>Esito 1 chiamata</th>
            <th>Esito 2 chiamata</th>
            <th>Note</th>
            <th>Esito colloquio</th>
            <th>Sito</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tbody>
</table>