<form ng-submit="interview.submitInterview(newInterview)">
    <label>Data Applicazione</label>
    <input ng-model="interview.newInterview.dataapplicazione" class="form-control" type="text" name="dataapplicazione" placeholder="Data Applicazione">
    <label>Nome e cognome:</label>
    <input ng-model="interview.newInterview.nomecognome" class="form-control" type="text" name="nomecognome" placeholder="Nome e Cognome">
    <label>Sesso:</label>
    <input ng-model="interview.newInterview.sesso" class="form-control" type="text" name="sesso" placeholder="Sesso">
    <label>Eta:</label>
    <input ng-model="interview.newInterview.eta" class="form-control" type="text" name="eta" placeholder="Eta">
    <label>Numero di telefono:</label>
    <input ng-model="interview.newInterview.tel" class="form-control" type="text" name="tel" placeholder="Numero di telefono">
    <label>Esito 1 chiamata:</label>
    <input ng-model="interview.newInterview.esito1" class="form-control" type="text" name="esito1" placeholder="Esito 1 chiamata">
    <label>Esito 2 chiamata:</label>
    <input ng-model="interview.newInterview.esito2" class="form-control" type="text" name="esito2" placeholder="Esito 2 chiamata">
    <label>Note:</label>
    <input ng-model="interview.newInterview.note" class="form-control" type="text" name="note" placeholder="Note">
    <label>Esito colloquio:</label>
    <input ng-model="interview.newInterview.esitocolloquio" class="form-control" type="text" name="esitocolloquio" placeholder="Esito colloquio">
    <label>Sito:</label>
    <input ng-model="interview.newInterview.sito" class="form-control" type="text" name="sito" placeholder="Sito">
    <label>Email:</label>
    <input ng-model="interview.newInterview.email" class="form-control" type="text" name="email" placeholder="Email">
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>