<div class="row">
    <div class="col-xs-2"><a href="/tabella/interview" class="btn btn-info">Add </a></div>
    <div class="col-xs-8">
        <input ng-model="searchInterview" class="form-control" placeholder="Search" type="text">
    </div>


</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Data applicazione</th>
            <th>Nome e cognome</th>
            <th>Sesso</th>
            <th>Eta'</th>
            <th>Numero di telefono</th>
            <th>Esito 1 chiamata</th>
            <th>Esito 2 chiamata</th>
            <th>Note</th>
            <th>Esito colloquio</th>
            <th>Sito</th>
            <th>E-mail</th>
            <th>Posted by</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in interview.interviewsList | filter:searchInterview" ng-click="clickedItem(item)" ng-class="{selected : item._id === idSelectedRow._id}">
            <td>{{ item.nr }}</td>
            <td>{{ item.dataapplicazione }}</td>
            <td>{{ item.nomecognome }}</td>
            <td>{{ item.sesso }}</td>
            <td>{{ item.eta }}</td>
            <td>{{ item.tel }}</td>
            <td>{{ item.esito1 }}</td>
            <td>{{ item.esito2 }}</td>
            <td>{{ item.note }}</td>
            <td>{{ item.esitocolloquio }}</td>
            <td>{{ item.sito }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.username }}</td>
        </tr>
    </tbody>
</table>